<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milktea Menu | <%= title %></title>
	<link rel="stylesheet" href="menu.css">
</head>
<body class = background>
    <div id="navbar">
        <a href="/" id="mainLogo"><img src="images/Logo.png" alt="Logo"></a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/cart"><img src="images/cartLogo.png" alt="Cart"></a></li>
                <li><a href="/login"><img src="images/accountLogo.png" alt="Account"></a></li>
            </ul>
        </nav>
    </div>

	<div>
		<div class="titleBar">
			<h1 id="titleH1">STORE MENU</h1><br>
			<h4 id="titleH4">*Available only at this store</h3>
		</div>
		<div class="menuList">
			<div>
				<h2 class="labels">Classics</h2><br>

			</div>
			<div>
				<h2 class="labels">Cream Cheese</h2><br>

			</div>
		</div>
	</div>

	<div class= "Footer">
		<center>
			<div class="wholeFooter">
				<span class="table">
					<img src="images/Logo.png" alt="Logo" id="footlogo">
				</span>
				<span class="table" id="designed">
					Copyright 2020 Macao Imperial Tea
					<br>
					All Rights Reserved
					<br>
					Designed by Team ASY
				</span>
				<span class="table">
					customercare@macaoimperialtea.id
					<br>
					OPEN DAILY 10:00AM - 10:00PM
					<br>
					<a href="https://www.instagram.com/macaoimperialteaid/" target="_blank"><img src="images/igLogo.png" alt="IG" id="IG"></a>
					<a href="https://www.facebook.com/Macao-Imperial-Tea-Indonesia-2406979309547912/about/?ref=page_internal" target="_blank"><img src="images/fbLogo.png" alt="FB" id="FB"></a>
				</span>
				<span class="newsletter">     
					<label for="Newsletter">Newsletter</label>
					<br>
					<input type="email" id="newsLetterMail" placeholder="Insert your Email">
					<br><br>
					<input type="Submit" value="Subscribe" id="subscribe">
				</span>
			</div>
		</center>
	</div>
</body>
</html>