*{
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}
body{
    background-color: rgb(37, 37, 37);
}   
#navbar{
    height: 12%;
    display: flex;
    align-items: center;
    top: 0;
    transition: top .5s;
    background: linear-gradient(black, transparent);
}
#navbar img{
    float: left;
    width: 200px;
    margin-top: 25px;
}
#navbar #mainLogo{
    padding-left: 7vmin;
}
nav{
    right: 0;
    position:absolute;
    padding-right: 2vw;
}
nav ul li{
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    list-style: none;
    padding-right: 30px;
    margin-top: 25px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a img{
    max-width: 25px;
    height: auto;
    padding: 0;
}


.outer {
    margin: auto;
    width: 900px;
    height: 650px;
    background-color: #181818;
    padding-top: 22px;
}
#leftCol{
    left: 0;
    width: 425px;
}
#rightCol{
    right: 0;
    float: right;
    width: 425px;
}
form {
    padding: 15px 0px 0px 25px;
}
label {
    width: 90px;
    display: inline-block;
    margin-top: 15px;
    color: white;
}
#lastName, #firstName{
    width: 162.5px;
}
#City, #State, #zipCode{
    width: 103.33px;
}
.inputLogo{
    width: 20px;
    padding: 0px 11px 0 0;

}
.Input{
    width: 350px;
    margin-right: 15px;
    height: 35px;
    font-size: 20px;
}
.Input2{
    width: 325px;
    margin-right: 15px;
    height: 35px;
    font-size: 20px;
    margin-bottom: 13px;
}
.Input:empty{
    background-color: white;
}

#submit {
    width: 300px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    color: white;
    background-color: black;
    font-size: 21px;
    border: 0;
}
#submit:hover{
    background-color: rgb(20, 20, 20);  
}
#googleLogo img{
    width: 40px;
}
#googleLogo img:hover{
    width: 42px;
}



.Footer{
    margin: 10px;
    display: fixed;
    color: aliceblue;
    margin-top: 100px;
}

.table,.newsletter{ /*divs in footer*/
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
}
#footlogo{ /*footer logo*/
    width: 200px;
}
#FB, #IG{ /*IG and FB logo*/
    width: 20px;
    height: 20px;
    margin: 5px 10px 0px 10px;
}
.newsletter{ /*table for newsletter subscription*/
    text-align: right;
}
.newsletter label{
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
    width: 130px;
}
#newsLetterMail{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid white;
    box-shadow: none;
    color: white;
}
#newsLetterMail:focus{
    outline: none;
}
#subscribe{
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid orange;
    background-color: transparent;
    color: white;
}
#subscribe:hover{
    background-color: orange;
    transition: background-color 200ms linear;
}

button{
    background-color: red;
    color: #fff;
}